.skill {
  all: unset;
  cursor: pointer;
  background-color: #c4c4c4;
  border-radius: 5px;
  color: #000;
  font-size: 1.1rem;
  padding: 0.3rem 0.8rem;
  min-width: fit-content;
  text-align: center;
}
