.card {
  padding: 2rem;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  width: 100%;
  border-radius: 5px;

  > a {
    color: #272323;
    font-size: 1.5rem;
    font-weight: 700;
    width: fit-content;
  }

  > p {
    font-size: 1.1rem;
    color: #000;
  }

  > .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 0.5rem;

    > .item {
      display: flex;
      align-items: center;
      column-gap: 0.2rem;

      > label {
        font-weight: 700;
        font-size: 1.1rem;
      }

      > p {
        font-size: 1.1rem;
      }
    }
  }
}
