.wrapper {
  padding: 2rem 4rem;

  > .jobsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;

    > h3 {
      font-size: 3rem;
      font-weight: 700;
    }

    .jobs {
      display: flex;
      align-items: flex-start;
      gap: 2rem;
      flex-wrap: wrap;
    }

    > button {
      all: unset;
      cursor: pointer;
      color: blue;
    }
  }
}
